.results {
    background-color: rgba(73,81,111,0.6);
    color: white;
    margin: 3px;
}
.boxColor{
    background-color: #f8f9fa !important;
    padding: 20px;
    width: 350px;
}
.center{
    text-align: center;
}
.padding{
    margin: 0% !important;
    padding-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
    .link{
    color: white;
    text-decoration: none;

}
