#badge {
    width: 100px;
    height: 100px;
}
.results {
    background-color: rgba(73,81,111,0.6);
    color: white;
    margin: 3px;
}
.overflow-scroll{
    height: 300px;
    overflow: scroll;
}
.center{
    text-align: center;
}
.padding{
    margin: 0% !important;
    padding-top: 15px;
     display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
// .link{
//     color: white;
//     text-decoration: none;

// }
.ml{
    margin-left: 0% !important;
  }
  .text{
      color: black;
  }
  .spacer {
    float: left;
    padding-left: 25px;
}
