.songs {
    background-color: rgba(73,81,111,0.6);
    color: white;
    border: 3px solid black;
    margin: 3px;
}
.center{
    text-align: center;
}
.playlist-title {
    background-color: rgba(73,81,111,0.6);
    padding-left: 60px;
    color: white;
    border: 3px solid black;
}
.boxColor{
    background-color: #f8f9fa !important;
    padding: 20px;
    width: 350px;
}
#badge {
    width: 100px;
    height: 100px;
}
.name{
    width: 400px;
}